*{
    background-color: antiquewhite;
    /* background-color: #414b61;; */
    /* background-color: #535C91; */
    /* background-color: #a5ddb5; */

}
header{
    height: 100px;
    margin: none;
}

/* body{
   background-image: url("Images/");
  background-color: rgba(255, 255, 255, 0.5);

}  */
.maincontainer{
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 5fr 0.5fr 5fr;
    grid-template-areas: auto;
    text-align: center;
    justify-content: center;
    /* margin-top:40vh; */
}

@media (max-width:650px) {
    .maincontainer{
        margin-top : 20px;
    }
}
.yoursTeamHeading{
    color: Green;
}

.opponentsTeam{
    color: Red;
}

.char-1{
    padding-top: 10px;
    height: 300px;
    width: 250px;
    border: 10px rgb(159, 161, 150) solid;
    border-radius: 15px;
    margin-bottom: 10px;
}
.yourTeam{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.opponentsTeam{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
button{
    text-align: center;
    justify-content: end;
    border: 5px;
    border-color:#C5EBAA;
    border-radius: 10px; 
    border-style: solid;
    background-color: #a5ddb5;
    padding: 7px;
    font-weight: bold;

}
button:hover{
    background-color: Green;
    color: white;
    
    transform: scale(1.0, 1.0);
}

.vs{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40vh;
}

img {
  padding-top:10px ;
   width: 250px;
    height: 240px;
    border-radius: 10px;
    display: block;
    position: absolute;
    transition: transform 2s ease;
    text-align: center;
    align-items: center;
}
/* img {
    max-width: 250px;
    height: 250px;
    display: block;
    position: absolute;
    transition: transform 2s ease;
} */

@keyframes roll {
    /* 0% { transform: rotate(0deg); }
    25% { transform: rotateX(360deg) rotateY(360deg); }
    50% { transform: rotateX(720deg) rotateY(720deg); } */
    75% { transform: rotateX(1080deg) rotateY(1080deg); }
    100% { transform: rotateX(1440deg) rotateY(1440deg); }
    
}

/* @keyframes roll {
    0% { transform: rotate(0deg); }
    25% { transform: rotateX(360deg) rotateY(360deg); }
    50% { transform: rotateX(360deg) rotateY(360deg); }
    75% { transform: rotateX(720deg) rotateY(720deg); }
    100% { transform: rotateX(1080deg) rotateY(1080deg); }
} */



@media (max-width:650px) {
    .char-1{   width: 30vh;
        height: 250px;
        margin-left: 5%;
        margin-right: 5%;
       }
        
    img{
        height: 25vh;
        width: 25vh;
        text-align: center;
        align-items: center;
        padding-left: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }
.opponentsTeam{

    margin-top: auto;
}

    /* .yourTeam{
        font-size: 1em;
    }
    .opponentsTeam{
        font-size:  1em; ;
    } */
}




